.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 12px;
}

.axis.y > .tick line {
  opacity: 0.2;
}

.graph-rect{
  fill: url("#gradient");
  stroke: url('#gradient');
  stroke-width: 1px;
}

.graph-rect:hover{
  fill: orange;  
  stroke: orange;
  stroke-width: 1px;
}

.time-line {
  stroke-width: 1px;
  stroke: rgba(255, 0, 0, 0.49);
}

.temp-line {
  stroke-width: 1px;
  stroke: rgba(255, 0, 0, 0.49);
}

.arc-inner-text{
  font-size: 30px;
  fill: #5D5D5D;
  font-family: monospace;
}